# Dependencies
node_modules

# Misc
.DS_Store

# Environment variables
.env

# Build artifacts
.nitro
.output
.tanstack
dist

# Claude
.claude/*.local*

# Cloudflare
.wrangler

# Local settings
*.local.json
